.Characters {
    width: 100%;
    margin-top: 10px;
    /* display: grid;
    grid-template-rows: repeat(20, auto);   
    gap: 16px; */
}
.Characters__title{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 2.8rem;
    color: $light-title;
    text-align: center;
}
.Characters__title--dark{
    color: $white; 
}
.Characters__carts-container{
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 15px;
    justify-content: center;
}
.Characters-cart{
    width: 250px;
    height: auto;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;

    &__img {
        width: 248px;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        justify-self: center;
    }
    &__data {
        padding: 10px;
    }
    &__data .description{
        font-weight: 700;
        font-size: $lg;
        color: rgb(13, 4, 141);
    }
    &__data .description .value{
        font-weight: 400;
        font-size: $md;
        color: black;
    }
    &__data .description--dark{
        color: rgb(144, 139, 214);
    }
    &__data .description .value--dark{
        color: $white;
    }
 

}

@media(min-width: 640px){
   
}