@import "./vars";

.Search__input{
    margin: 20px 0 20px 0;
    margin-left: 20px;
}
.Search__input label{
    padding-right: 5px;
    font-size: $lg;
    font-weight: 700;
    color: $light-blue;
}
.Search__input input{
    height: 30px;
    padding: 3px;
}
.Search__input .Search--dark-mode {
    color: $dark-title;
}