//Variables globales
$white:#FFFFFF;
$darkMode: rgb(2, 2, 32);
$very-light-pink:#868686;
$light-title: rgb(7, 7, 116);
$dark-title:rgb(112, 112, 245);
$light-blue:rgb(79, 103, 153);
$sm:1.4rem;
$md:1.6rem;
$lg:1.8rem;