@import "./vars";
@import "./Header";
@import "./Search";
@import "./Pagination";
@import "./Characters";
@import "./icon";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.dark-mode{
    background-color: rgb(2, 2, 32);
}